@CHARSET "ISO-8859-1";

.fieldLabelcentre {
	font-weight: bold;
	border: 1px solid #DADADA;
	color: #4B0082;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	font: 13px/13px verdana;
	font-align: center;
	background-color: #CED8F6;
	font-color: #0101DF;
}

.fieldrowwise {
	font-family: Verdana;
	font-size: 12px;
	border: 1px solid;
	border-color: #848484;
	width: 250px;
}

.shortfieldrowwise {
	font-family: Verdana;
	font-size: 12px;
	color: #0000FF;
	width: 60px;
}

.longfieldrowwise {
	font-family: Verdana;
	font-size: 12px;
	border: 1px solid;
	border-color: #848484;
	width: 400px;
	background-color: #DDF0F8;
}

.textarea {
	border: 3px solid #EBE6E2;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 250px;
	height: 50px;
}

.smallcombobox {
	font-family: Verdana;
	font-size: 12px;
	font-align: center;
	border: 1px solid;
	border-color: #888;
	background-color: white;
	width: 80px;
	height: 20px;
	border-radius: 5px;
}

.combobox {
	font-family: Verdana;
	border: 1px solid #DADADA;
	font-size: 12px;
	font-align: center;
	border: 1px solid;
	border-color: #888;
	background-color: white;
	width: 150px;
	height: 20px;
	border-radius: 5px;
}

.largecombobox {
	font-family: Verdana;
	border: 1px solid #DADADA;
	font-size: 12px;
	font-align: center;
	border: 1px solid;
	border-color: #888;
	background-color: white;
	width: 250px;
	height: 20px;
	border-radius: 5px;
}

.appHeader {
	background-color: #0033CC;
	color: white;
	font-family: Verdana;
	font-color: white font-weight:bold;
	font-size: 16px;
	padding: 2px 2px 2px 2px;
}

.userIntro {
	background-color: #0033CC;
	width: 746px;
	padding: 0 2px 0 2px;
	font-family: Verdana;
	font-color: white;
}

.userIntroText {
	color: white;
	font-family: Verdana;
	font-size: 15px;
}

.appContent {
	border: 0 0 0 0;
	margin: 10px 10px 10px 10px;
}

.appFooter {
	background-color: #0033CC;
	color: white;
	font-size: 15px;
	font-family: Verdana;
	text-align: center;
	height: 20px;
}

.formCaptionReport {
	font-family: Verdana;
	font-size: 15px;
	color: midnightblue;
	text-align: centre;
	padding-left: 10px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 6px;
	padding-top: 10px;
	background-color: white;
	height: 18px;
}

.formCaption {
	font-family: Verdana;
	font-size: 15px;
	color: midnightblue;
	text-align: centre;
	padding-left: 10px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 6px;
	padding-top: 10px;
	background-color: #CED8F6;
	height: 18px;
}

.formBlockCaption {
	font-family: Verdana;
	font-size: 14px;
	color: white;
	text-align: centre;
	padding-left: 10px;
	background: #071918 url(/images/panel-title-light-bg.gif) repeat-x;
	height: 16px;
	width: auto;
}

.largeformBlockCaption {
	font-family: Verdana;
	font-size: 14px;
	color: white;
	text-align: centre;
	padding-left: 10px;
	background: #071918 url(/images/panel-title-light-bg.gif) repeat-x;
	height: 16px;
	width: auto;
}

.formBlockCenterCaption {
	font-family: Verdana;
	font-size: 14px;
	color: white;
	text-align: centre;
	padding-left: 10px;
	background: #071918 url(/images/panel-title-light-bg.gif) repeat-x;
	height: 16px;
	font-weight: bold;
}

.appFormBlock {
	border: 1px solid;
	border-color: #2E2E2E;
	padding: 20px 30px 20px 30px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 900px;
	background-color: #DDF0F8;
	color: #666;
	box-shadow: #868686 0 0px 10px -1px;
	-webkit-box-shadow: #868686 0 0px 10px -1px;
}

.largeAppFormBlock {
	border: 1px solid;
	border-color: #2E2E2E;
	padding: 20px 30px 20px 30px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 1100px;
	background-color: #DDF0F8;
	color: #666;
	box-shadow: #868686 0 0px 10px -1px;
	-webkit-box-shadow: #868686 0 0px 10px -1px;
}

.fieldLabel {
	font-weight: bold;
	border: 1px solid #DADADA;
	color: #4B0082;
	outline: 0 none;
	font: 13px/13px verdana;
	padding: 1px 1px 1px 1px;
	width: 150px;
}

.field {
	font-family: Verdana;
	border: 1px solid #DADADA;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 250px;
}

.field:focus {
	border-color: #BBB;
	outline: none;
}

.redField {
	font-family: Verdana;
	border: 3px solid #EBE6E2;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 150px;
	COLOR: red;
}

.blueField {
	font-family: Verdana;
	border: 3px solid #EBE6E2;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 150px;
	COLOR: blue;
}

.shortField {
	font-family: Verdana;
	border: 1px solid #DADADA;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 80px;
}

.readOnlyField {
	background-color: #C0C0C0;
}

/* Decorates error fields */
.error {
	font-family: Verdana;
	font-weight: BOLD;
	font-size: 13px;
	font-color: #FF0000;
	border: 1px solid;
	border-color: #FF0000;
}

.button {
	font-family: Verdana;
	font-weight: BOLD;
	font-size: 13px;
	padding: 10px 30px 10px 30px;
	background: #66C1E4;
	border: none;
	color: black;
	border-radius: 5px;
}

.button:hover {
	background: #3EB1DD;
}

.buttonHolder {
	background: #fff url(../image/button-box-bg.gif) repeat-x;
	border: 1px solid;
	border-color: #9BCDFF;
	padding: 5px 5px 5px 5px;
}

.messageBox {
	text-align: left;
	color: #555;
	border-radius: 10px;
	font-family: Verdana;
	font-size: 12px;
	padding: 10px 36px;
	margin: 10px;
	width: 640px;
}

.errorBox {
	border-color: #FF0000;
	color: #FF0000;
}

.messageCaption {
	font-weight: bold;
	text-transform: uppercase;
	background: url(../image/msg-panel-title-light-bg.jpg) repeat-x;
	color: white;
	font-weight: bold;
	border: none;
	width: 642px;
	padding: 0 0 0 10px;
	margin-bottom: 0;
	margin-top: 10px;
	height: 20px;
}

.errorCaption {
	background: #FF0000 url(../image/error-panel-title-light-bg.jpg)
		repeat-x;
}

.errorMsg {
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	COLOR: red;
	font-color:red;
}
.infoMsg {
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	COLOR: blue;
	font-color:blue;
}

.smallErrorMsg {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	COLOR: red;
	font-color:red;
}

LI {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	COLOR: #000000;
}

UL {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	COLOR: #000000;
}

.warnMsg {
	background: #fff8c4 url('../image/warning.png') no-repeat 10px 50%;
	border: 1px solid #f2c779;
}



.nameField {
	border: 3px solid #EBE6E2;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 250px;
	font-family: Verdana;
	font-size: 11px;
	border-color: #9BCDFF;
	background-color: #F9F9F9;
}

.nameField:focus {
	border-color: #BBB;
	outline: none;
}

.longField {
	border: 3px solid #EBE6E2;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 400px;
	font-family: Verdana;
	font-size: 11px;
	border-color: #DADADA;
	background-color: #F9F9F9;
}

.longField:focus {
	border-color: #BBB;
	outline: none;
}

.mandatoryField {
	border: 3px solid #EBE6E2;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 250px;
	font-family: Verdana;
	font-size: 11px;
	border-color: #9BCDFF;
	background-color: #F9F9F9;
}

.shortFieldLabel {
	font-weight: bold;
	border: 1px solid #DADADA;
	color: #4B0082;
	height: 15px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 50px;
	font: 13px/13px verdana;
}

.shortAppFormBlock {
	border: 1px solid;
	border-color: #2E2E2E;
	padding: 20px 30px 20px 30px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	background-color: #DDF0F8;
	color: #666;
	box-shadow: #868686 0 0px 10px -1px;
	-webkit-box-shadow: #868686 0 0px 10px -1px;
}

.smallAppFormBlock {
	border: 1px solid;
	border-color: #2E2E2E;
	padding: 20px 30px 20px 30px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	background-color: #DDF0F8;
	color: #666;
	box-shadow: #868686 0 0px 10px -1px;
	-webkit-box-shadow: #868686 0 0px 10px -1px;
}

.fieldLabelLarge {
	font-weight: bold;
	border: 1px solid #DADADA;
	color: #4B0082;
	height: 15px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 200px;
	font: 13px/13px verdana;
	text-align: left;
}

.largeFieldLabel {
	font-weight: bold;
	border: 1px solid #DADADA;
	color: #4B0082;
	height: 15px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 250px;
	font: 13px/13px verdana;
	text-align: left;
}

.smallCaption {
	font-family: Helvetica, Tahoma, Verdana, Arial, Sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: blue;
	text-align: left;
	padding-bottom: 6px;
	padding-top: 10px;
}

.textbox {
	font-size: 11px;
	font-family: Helvetica, Tahoma, Verdana, Arial, Sans-serif;
	border: 1px solid;
	border-color: #9BCDFF;
	background-color: #F9F9F9;
	width: 200px;
	height: 70px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.textboxLong {
	font-size: 11px;
	font-family: Helvetica, Tahoma, Verdana, Arial, Sans-serif;
	border: 1px solid;
	border-color: #9BCDFF;
	background-color: #F9F9F9;
	width: 400px;
	height: 35px;
	maxlength: 1;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.screenMsg {
	font-size: 11px;
	font-family: verdana;
	COLOR: red;
}

.amountField {
	border: 3px solid #EBE6E2;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 80px;
	text-align: right;
	font-size: 12px;
}

.amountField:focus {
	border-color: #BBB;
	outline: none;
}

.amountFieldReadOnly {
	border: 3px solid #EBE6E2;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 100px;
	text-align: right;
	background-color: #C0C0C0;
}

.amountFieldReadOnly:focus {
	border-color: #BBB;
	outline: none;
}

.fieldLabelVeryLarge {
	font-weight: bold;
	border: 1px solid #DADADA;
	color: #4B0082;
	height: 15px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 400px;
	font: 13px/13px verdana;
	text-align: left;
}

.tdLabel {
	font-weight: bold;
	border: 1px solid #DADADA;
	color: #4B0082;
	outline: 0 none;
	font: 13px/13px verdana;
	padding: 1px 1px 1px 1px;
	width: 250px;
}

.mediumField {
	font-family: Verdana;
	border: 1px solid #DADADA;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 140px;
}

.validationErrorMsg {
	background-position: centre;
	width: 10px;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	COLOR: red;
	font-weight: bold;
}


.message
{
    font-size: 14px;
    color: #000066;
    text-align: center;
    list-style: none;
    font-family: Trebuchet MS,sans-serif,inherit,Arial,monospace;
}